/target
/.ipynb_checkpoints/
/data/
/fig/
perf.data*
flamegraph.svg
/benches/human-genome.fa
/.env/
/py/cache/
/py/defense

/.cargo
/examples
/fig
/greedy-mini-data
/py
Cargo.lock
justfile
*.org
*.json
*.png
*.svg
